<div th:fragment="footer">

    <footer id="myFooter">
        <div class="container">

            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A269a45f0a98c6286a9c7bf901bdd31ea2cedc0b9cdd26b39cf57836a72866fa4&amp;width=100%25&amp;height=150&amp;lang=ru_RU&amp;scroll=true"></script>
        </div>
        <div class="social-networks">
            <a href="https://instagram.com/danilagaisionok" class="twitter"><i class="fa fa-instagram"></i></a>
            <a href="https://t.me/DanilaGaisenok" class="github"><i class="fa fa-telegram"></i></a>
            <a href="https://vk.com/id173214449" class="telegram"><i class="fa fa-vk"></i></a>
        </div>
        <div class="footer-copyright">
            <p>© 2023 Минск </p>
        </div>
    </footer>
</div>